CREATE OR REPLACE FUNCTION update_modified_column() 
RETURNS TRIGGER AS $$ 
BEGIN 
    NEW.updated_at = now(); 
    RETURN NEW; 
END; 
$$ language 'plpgsql';

-- Función para crear el trigger en cada tabla
CREATE OR REPLACE FUNCTION create_updated_at_trigger(tabla text) 
RETURNS void AS $$
BEGIN
    EXECUTE format('CREATE TRIGGER set_updated_at
                   BEFORE UPDATE ON %I
                   FOR EACH ROW
                   EXECUTE FUNCTION update_modified_column()', tabla);
END;
$$ language 'plpgsql';
